<!DOCTYPE HTML>

<html>
	<head>
		<title>Delightfully Nerdy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">


			<!-- Header -->

			<%- include('../partials/navbar.ejs') %>

			<!-- Main -->

			<%- body %>

			<!-- Footer -->

			<%- include('../partials/footer.ejs') %>


		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>